/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** ========================================================================
**/
* {
	box-sizing: border-box;
}

body {
	font-size:15px;
	font-family: "Open Sans";
	font-weight: 300;
	width: 100%;
}
section.widget {
	width:300px;
	height: 219px;
	background-color:#E9F4E4;
	border-radius: 2px;
	padding: 8px 10px;
	overflow: hidden;
	background-image: url('/assets/bg.png');
	background-position: right bottom;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	overflow-y: scroll; 
}
section.details {
	width:100%;
	background-color:#E9F4E4;
	border-radius: 2px;
	padding: 8px 10px;
	overflow: hidden;
	background-image: url('/assets/bg.png');
	background-position: right bottom;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}
.widheader {
	position: relative;
	padding: 7px 20px 7px 20px;
	background-color: #016F3A;
	color: white;
	width: 300px;
	box-shadow: -1px 2px 3px rgba(74, 74, 74, 0.44);
	z-index: 2;
}

select {
	width: 100%;
	height: 20px;
}

h1.title, .h1 {
	font-size: 1.5em;
}
.big h1 {
	font-size: 2em;
	font-weight: 400;
}
.big span {
	font-weight: 300;
}

h2.score {
	font-size: 1em;
	background: rgba(255,255,255,0.7);
	padding: 5px;
	line-height: 1.4em;
	border-radius: 1px;
}

strong {
	font-weight: 400;
}

.refresh {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

.refresh img {
	margin-bottom: -10px;
}

.date {
	font-size: 0.8em;
}

.status {
	color:rgba(250,100,100,1);
}

.score {
	font-weight: bold;
}

.match-title {
	text-align: center;
}

.match-title img {
	margin-bottom: -8px;
	width: 50px;
}

.scorecard {
	padding-left:20px;
}

.scorecard img {
	margin-bottom: -2px;
}

.ad {
	background: rgb(221, 156, 101);
	background-image: url(../ads/small/1.png);
	color: rgb(39, 88, 144);
	height: 51px;
	width: 300px;
	padding: 16px;
	text-align: center;
}
.ad a {
	color:#222;
}

.adlarge {
	background: rgb(221, 156, 101);
	background-image: url(../ads/large/1.png);
	background-position: 0px 0px;
	width: 100%;
	min-height: 100px;
	background-repeat: no-repeat;
}

.seper {
	margin-top: 12px;
	margin-bottom:5px;
}

.schd {
	text-align: center;
}

.upcoming {
	font-size: 12px;
}
.pname {
	color: #222;
}
.pscore {
	font-size: 15px;
	float: right;
}
.dism {
	font-size: 10px;
}
.indv_scr {
	padding:5px;
}
.indv_scr:nth-child(2n) {
	background-color: #cecece;
	background-color: rgba(255,255,255,0.8);
}
.totalscore {
	float: right;
	font-size: 20px;
	font-weight: bold;
	margin-top: -35px;
}
.teamfname {
	font-size: 15px;
	font-weight: bold;
}
.bigflag img{
	margin-bottom: -20px;
}
.scrheadr {
	padding:20px 0px;
}
span.live {
	padding:3px;
	background-color: #D82A2A;
	color: white;
	border-radius: 2px;
	font-size: 12px;
}
small {
	font-size: 10px;
}
div.mobile .totalscore {
	display: none;
}

.rightt {
	margin-left:20px;
}

.pointsheader {
  position: relative;
  padding: 7px 20px 7px 20px;
  background-color: #016F3A;
  color: white;
  width: 100%;
  box-shadow: -1px 2px 3px rgba(74, 74, 74, 0.44);
  z-index: 2;
}
section.pointswidget {
  width: 100%;
  height: 100%;
  background-color: #E9F4E4;
  border-radius: 2px;
  padding: 8px 10px;
  overflow: hidden;
  background-image: url('/assets/bg.png');
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow-y: scroll;
}
table {
border-collapse: collapse;
border-spacing: 0;
width: 100%;
text-align: left;
}
thead {
	font-weight: bold;
	padding:10px;
}
tr > td
{
  padding-bottom: 5px;
  padding-top: 5px;
}
tr:nth-child(2n) {
	background-color: #cecece;
	background-color: rgba(255,255,255,0.8);
}

table {
	background: rgba(255,255,255,0.4);
}
table td:nth-child(3) {
	color:green;
	font-weight: bold;
}
table td:nth-child(4) {
	color:red;
	font-weight: bold;
}
table td:nth-child(5) {
	padding-left:12px;
}

td.team_name {
  font-size: 1.4em;
  font-weight: bold;
}
.panel-collapse {
  padding: 5px 10px;
  font-size: 0.7em;
  font-weight: bold;
  background: rgba(0,0,0,0);
}
.panel-collapse table td {
  font-weight: normal;
}


@media (max-width: 490px) {
  .dism {
    display: none;
  }
  .totalscore {
  	display: none;
  }
  div.mobile .totalscore {
  	display: block;
  	margin-top: 10px;
  }
}
/** COOL STYLINGS ==============================================================>
**/
.styled-select {
   height: 29px;
   overflow: hidden;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: #FFF;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
}